body{
    padding: 0;
    margin: 0;
}
.search-box{
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%, 50%);
    background: violet;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6 px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    transition: .4s;
}