*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh; 
    background: url(../img/fon1.avif);
    background-size: cover;
    background-position: center;
}
header { /*панель зверху*/
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background: #fff;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 5px 50px black;
    z-index: 10;
}

header .logo{
    font-size: 20px;
    font-weight: 900;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    letter-spacing: 1.4px;
    transition: .3s;
}
header .logo:hover{
    transform: scale(1.2);
    color: rgb(80, 66, 7);
}

header nav ul li{ /*розташування пошуку*/
    position: relative;
    float: left;
}

header nav ul li a{
    padding: 25px;
    top: 20px;
}

header nav ul li a{
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block;
    letter-spacing: 2.4px;
}

header nav ul li a:hover{
    background-color: rgb(190, 180, 145);    
    border-radius: 10px;
}

nav ul li ul{
    position: absolute;
    left: 0;
    width: 400px;
    background: white;
    display: none;
    border-radius: 10px;
    z-index: 5;
}

nav ul li ul li {
    width: 100%;
    border: 10px solid rgba(0, 0, 0, 0.1);
}
nav ul li ul li ul {
    left: 180px;
    top: 0;
}
nav ul li:hover > ul {
    display: initial;
}


.search-box{
    margin:15px;
    position: relative;
    background: rgb(190, 180, 145);
    color: #fff;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.search-btn{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}
.search-txt{
    justify-content:left;
    align-items:left;
}
.search-box:hover > .search-txt{
    width: 700px;
    padding: 0 6 px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    text-align: center;
    float: left;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: center;
    width: 0px;
    transition: .6s;
}
p{
    position: absolute;
    text-align: center;
    top: 110px;
    left: 700px;
    width: 500px;
    height: 20px;
    color: black;
    font-size: 26px;
    letter-spacing: 2.4px;
    font-weight:700;
    text-transform: uppercase;
}

/* Загальні стилі для контейнера з продуктами */
.products {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Стилі для кожної окремої карточки */
.card {
    width: 280px;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.998);
    border-radius: 8px;
    font-size: 18px;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(80, 66, 7);
    display: block;
    margin-bottom: 8px;
    font-size: 22px;
}

.card a:hover{
    transform: scale(1.1);
    text-decoration: underline;
    color: rgb(29, 23, 3);
    transition-duration: 0.5s;
}

.card ul {
    padding: 0;
    margin: 10%;
    list-style-type: none;
    text-align: left;
}

.card ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: rgb(185, 165, 88);
    color: #fff;
    min-height: 300px;
    margin-top: 150px;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__nav-item {
    margin-right: 200px;
}

.footer__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
}

.footer__nav-link:hover {
    text-decoration: underline;
}
